[project]
	description = These three data structures are ones of the most difficult I ever had to code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lnrsoft (lnrsoft)
[access "refs/for/refs/*"]
	read = group user/lnrsoft (lnrsoft)
	push = group user/lnrsoft (lnrsoft)
	label-Code-Review = -2..+2 group user/lnrsoft (lnrsoft)
	label-Verified = -1..+1 group user/lnrsoft (lnrsoft)
	rebase = group user/lnrsoft (lnrsoft)
	removeReviewer = group user/lnrsoft (lnrsoft)
	submit = group user/lnrsoft (lnrsoft)
[access "refs/heads/*"]
	read = group user/lnrsoft (lnrsoft)
	create = group user/lnrsoft (lnrsoft)
	push = +force group user/lnrsoft (lnrsoft)
	pushMerge = group user/lnrsoft (lnrsoft)
[access "refs/tags/*"]
	push = group user/lnrsoft (lnrsoft)
	push = +force group user/lnrsoft (lnrsoft)
